<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
      <div class="container">
        <img class="circular--square" src="/assets/Logo.jpg" width="60" height="60" alt="supermarket aisle">
        <a class="navbar-brand" [routerLink]="['/']">DBV Bahia</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
          <app-menu-user></app-menu-user>
      </div>
    </nav>
  </header>
