.gallery-wrap .img-big-wrap {
  margin-bottom: 10px;
  border-radius: 0.37rem;
  overflow: hidden;
  background-color: #fff;
}

.gallery-wrap .img-big-wrap a {
  text-align: center;
  display: block;
}

.gallery-wrap .img-big-wrap img {
  height: 450px;
  width: auto;
  display: inline-block;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters>.col,
.no-gutters>[class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

/* rating-list */

.rating-stars {
  display: inline-block;
  vertical-align: middle;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  white-space: nowrap;
  clear: both;
}

.rating-stars i {
  font-size: 14px;
  color: #ccc;
  display: inline;
}

.rating-stars li {
  display: block;
  text-overflow: clip;
  white-space: nowrap;
  z-index: 1;
}

.rating-stars li.stars-active {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating-stars li.stars-active i {
  color: orange;
}

/* ================= TRACKING ============== */

.price {
  font-weight: 600;
  color: #212529;
}

.btns {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.btns a{
  width: 30%;
  cursor: pointer;
  margin: 5px;
}
