/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}

.border-left {
  border-left: 1px solid #dee2e6 !important;
}

.cursor-pointer {
  cursor: pointer;
}
